<h1>Courtbot Reporter</h1>

<p class="lead"><%= @message %></p>

<table>
  <thead>
    <tr>
      <th>Courtbot name</th>
      <th>Upload date</th>
      <th>Last requested at</th>
      <th>Response code</th>
      <th>Data extracted?</th>
      <th>Extracted at</th>
      <th>String encoding</th>
      <th>Row count</th>
    </tr>
  </thead>
  <tbody>
  <% @data_urls.each do |du| %>
    <tr>
      <td>Atlanta</td>
      <td><%= du.upload_date %></td>
      <td><%= du.requested_at %></td>
      <td><%= du.response_code %></td>
      <td><%= du.extracted %></td>
      <td><%= du.extracted_at %></td>
      <td><%= du.string_encoding %></td>
      <td><%= du.row_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
