<!DOCTYPE html>
<html>
<head>
  <title>CourtbotReporter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Courtbot Reporter</h1>
    <nav>
      <ul>
        <li><%= link_to "Data Sources", data_sources_path %></li>
        <li><%= link_to "Data Visualizations", charts_path %></li>
        <li><%= link_to "Data Standards", data_standards_path %></li>
      </ul>
    </nav>
    <hr>
  </header>

  <%= yield %>

  <footer>
    <p>
      <a href="https://github.com/codeforamerica/courtbot-reporter/">Source</a>
    </p>
  </footer>
</body>
</html>
